/* General */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.flex{
    display: flex;
}
.align{
    align-items: center;
}
.justify{
    justify-content: space-between;
}
.around{
    justify-content: space-around;
}
/* cookies  */
.cookies{
    position: fixed;
    bottom:700px;
    width: 900px;
    margin-left: 90px;
    border: 2px solid black;
    padding: 10px;
}

/* Header */
.header{
    padding: 30px 50px;
    background-color: rgb(159,197,248);
}
ul{
    list-style: none;
}
li{
    margin-left: 77px;
    font-size:larger;
}

/* main  */
.main{
    padding: 50px;
}

/* weather boxes */
.forecast{
    justify-content: space-around;
    width: 175px;
    height: 300px;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(238,238,238);
}
.forecast img{
    height: 90px;
    border-radius: 50%;
}
.temp-high{
    margin-right: 20px;
    color: red;
}
.temp-low{
    color: royalblue;
}